@import "./src/scss/variables/colors";

.Forecast {
  text-align: center;
  box-sizing: border-box;
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 2px 3px $secondary-text;
}
