@import "./src/scss/variables/colors";

.Header {
  text-align: center;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 2px 3px $secondary-text;

  @media (min-width: 600px) {
    width: 500px;
    left: calc(50% - 250px);
  }
}
