$primary-color: #ecebf2; // solitude
$primary-text: #27262d; // jaguar
$secondary-color: #6bb1bb; // glacier
$secondary-text: #27502a; // parsley
$extra-color: #336978; // blumine
$extra-text: #a8d4d7; // sinbad
$error-primary: #e53232; // alizarin
$error-secondary: #e24a4a; // flamingo
